.heading-text{
  color: blue;
  text-transform: uppercase;
}

.footer-text{
  color: crimson;
  font-style: italic;
}

.header{
  background-color: darkslategray;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 10%;
}

.logo{
  width: 25%;
}

.site-menu{
  width: 75%;
  display: flex;
  justify-content: space-evenly;
}

.link{
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bolder;
}

.active-link{
  text-decoration: underline;
  color: #ff5722;
}

.logo{
  width: 145px;
  height: 46px;
}

.footer{
  height: 5%;
}

.page-content{
  height: 80%;
  overflow: auto;
}

.main-page{
  height: 100vh;
  box-sizing: border-box;
}

.btn{
  font-size: 18px;
  background-color: #ea7600;
  color: white;
  width: 200px;
  height: 30px;
}

.space{
  margin-bottom: 20px;
}

.form-align{
  display: flex;
    flex-direction: column;
    align-items: center;
}

.label{
  width: 185px;
    display: inline-block;
    font-size: 18px;
}

.input{
  font-size: 18px;
}

.wrapper{
  border: 2px solid;
    height: 85%;
    display: flex;
    flex-direction: row;
}

.sidebar{
  border: 2px solid;
    width: 25%;
}

.sub-page{
  border: 2px solid;
  width: 75%;
}
