.heading-text{
  color: blue;
  text-transform: uppercase;
}

.footer-text{
  color: crimson;
  font-style: italic;
}

.header{
  background-color: darkslategray;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 10%;
}

.logo{
  width: 25%;
}

.site-menu{
  width: 75%;
  display: flex;
  justify-content: space-evenly;
}

.link{
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bolder;
}

.active-link{
  text-decoration: underline;
  color: #ff5722;
}

.logo{
  width: 145px;
  height: 46px;
}

.footer{
  height: 5%;
}

.page-content{
  height: 80%;
  overflow: auto;
}

.main-page{
  height: 100vh;
  box-sizing: border-box;
}