.message-1{
  color: red;
  border: 3px solid blue;
  padding: 40px;
  margin: 50px;
}

.message-2{
  color: blueviolet;
  font-family: 'Dancing Script', cursive;
}

.box-1{
  width: 500px;
  height: 200px;
  background-color: aquamarine;
}

.box-2{
  width: 50vw;
  height: 25vh;
  background-color: brown;
}

.percentage{
  width: 50%;
  height: 50%;
  background-color: black;
}

.outline{
  border-style: solid;
  border-width: 3px;
  border-color: blue;
  border-radius: 25px;
  font-size: 50px;
  font-style: italic;
  font-weight: bolder;
}

.outline-2{
  border-top-style: solid;
  border-left-style: dotted;
  border-bottom-style: double;
  border-right-style: dashed;
  padding-left: 50px;
  padding-bottom: 30px;
  margin-left: 100px;
  margin-top: 65px;
  font-family: 'Dancing Script', cursive;
}

.body{
  margin: 0px;
  background-color:aquamarine;
  /* background-image: url("./shinchu.jpg"); */
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

.inline{
  display: inline;
  /* display: none; */
}

.content{
  width: 300px;
  height: 100px;
  border: 3px solid red;
  overflow: auto;
  margin-top: 25px;
}

.top-space{
  margin: 15px
}

.table-border {
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
}

.th-name{
  width: 100px;
}

.th-email{
  width: 200px;
}

.table-header{
  background-color: #009688;
    color: white;
}

@media screen and (min-width : 0px) and (max-width : 480px) {
  .body{
    background-color: yellow;
  }
}

@media screen and (min-width : 481px) and (max-width : 768px) {
  .body{
    background-color: rebeccapurple;
  }
}


/* 
Now let’s see some common breakpoints for widths of devices:

320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV

*/