.message-1{
  color: red;
  border: 3px solid blue;
}

.message-2{
  color: blueviolet;
}

.box-1{
  width: 500px;
  height: 200px;
  background-color: aquamarine;
}

.box-2{
  width: 50vw;
  height: 25vh;
  background-color: brown;
}

.percentage{
  width: 50%;
  height: 50%;
  background-color: black;
}

.outline{
  border-style: solid;
  border-width: 3px;
  border-color: blue;
  border-radius: 25px;
}

.outline-2{
  border-top-style: solid;
  border-left-style: dotted;
  border-bottom-style: double;
  border-right-style: dashed;
}